* {
  box-sizing: border-box;
}

html, body {
  background: #F6F6F6;
  font-family: 'Mulish', 'Helvetica', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main {
  display: flex;
}

.dropdown {
  color: #11283c;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}